In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
jeopardy = pd.read_csv("jeopardy.csv")
print(jeopardy.head())

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

In [3]:
jeopardy = jeopardy.rename(columns = {" Air Date": "Air Date", " Round" : "Round", " Category": "Category", " Value": "Value", " Question":"Question", " Answer": "Answer"})

In [4]:
def filtering_by_question(data, keywords):
    filter = lambda x: all(word.lower() in x.lower() for word in keywords)
    return data.loc[data["Question"].apply(filter)]

In [5]:
filtered_king_england = filtering_by_question(jeopardy,["King", "England"])
print(filtered_king_england["Question"])

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: Question, Length: 152, dtype: object

In [6]:
float_value = lambda x: float(x.strip('$').replace(",","")) if x!= "None" else 0
jeopardy["Floated_Value"] = jeopardy["Value"].apply(float_value)
print(jeopardy.head())

   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer  Floated_Value
0  Copernicus          200.0
1  Jim Thorpe          200.0
2     Arizona          200.0
3  McDonald's          200.0
4  John Adams          200.0

In [7]:
filtered_king = filtering_by_question(jeopardy, ["King"])
print(filtered_king["Floated_Value"].mean())

771.8833850722094

In [8]:
def unique_answer_count(dataset):
    return dataset["Answer"].nunique()

unique_answer_count_king = unique_answer_count(filtered_king)
print(unique_answer_count_king)

5268

# Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word "Computer" compared to questions from the 2000s?

In [9]:
year_extract = lambda x: x.split('-')[0]
jeopardy["Year"] = jeopardy["Air Date"].apply(year_extract)

In [10]:
filtered_computer = filtering_by_question(jeopardy, ["Computer"])
print(filtered_computer.head())

      Show Number    Air Date             Round                Category  \
309          5690  2009-05-08         Jeopardy!  OLD FOLKS IN THEIR 30s
342          5690  2009-05-08  Double Jeopardy!          MATHEM-ATTACK!
1106         4085  2002-05-10  Double Jeopardy!      "EN" THE BEGINNING
1430         4960  2006-03-17         Jeopardy!   RECORD LOSSES IN 2005
2410         3214  1998-07-16         Jeopardy!  PRE-COLUMBIAN CULTURES

      Value  \
309    $600
342   $1200
1106   $800
1430   $200
2410   $500

                                                                                                                                                                                                                                                                                                                                                 Question  \
309                                                                                                                                                                                                                                                            Linus Torvalds is the father of this operating system used on cell phones & supercomputers
342   (<a href="http://www.j-archive.com/media/2009-05-08_DJ_28.jpg" target="_blank">Kelly of the Clue Crew shows an array of numbers enclosed in brackets on the monitor.</a>)  A set of numbers in rows and columns can be used in many ways--for example, to encrypt a code or create 3-D computer graphics; the set shares this name with a 1999 film
1106                                                                                                                                                                                                                                                                             2-word term for the consumer, for whom a computer is ultimately designed
1430                                                                                                                                                                                                                                               A computer with 98,000 names & SSNs was reported stolen from this oldest campus of the Univ. of Calif.
2410                                                                                                                                                                                                                                                               Warriors of this Yucatan civilization battle in the computer-enhanced mural seen here:

           Answer  Floated_Value  Year
309         Linux          600.0  2009
342      a matrix         1200.0  2009
1106  an end user          800.0  2002
1430     Berkeley          200.0  2006
2410       Mayans          500.0  1998

In [11]:
filtered_computer_90s = filtered_computer[filtered_computer['Year'].str.startswith('199')]
filtered_computer_00s = filtered_computer[filtered_computer['Year'].str.startswith('200')]

print(filtered_computer_90s.Question.count())
print(filtered_computer_00s.Question.count())

98
268

# Is there a connection between the round and the category? Are you more likely to find certain categories, like "Literature" in Single Jeopardy or Double Jeopardy?

In [12]:
single_jeopardy_literature = jeopardy[(jeopardy['Category']=="LITERATURE") & (jeopardy['Round']=='Jeopardy!')]
double_jeopardy_literature = jeopardy[(jeopardy['Category']=="LITERATURE") & (jeopardy['Round']=='Double Jeopardy!')]
print(single_jeopardy_literature.Question.count())
print(double_jeopardy_literature.Question.count())

105
381

# Build a system to quiz yourself. Grab random questions, and use the input function to get a response from the user. Check to see if that response was right or wrong.

In [13]:
# import random

# #def quiz():
#     index = random.randint(1,len(jeopardy)
#     playing_status = input("Do you want to play? Yes or No")
#     while playing_status.lower() = "yes":
#         print(jeopardy["Question"][index])
#         answer = input()
#         if answer.lower() = jeopardy["Answer"][index].lower():
#             print("Correct.")
#         else:
#             print("Incorrect. The correct answer is {}".format(jeopardy["Answer"][index])))
#     print("Do you want to play? Yes or No")
#     playing_status = input()

In [ ]:
import random

class playing_jeopardy():
    def __init__(self, dataset):
        i = random.randint(1,len(dataset))
        self.i = i
        self.dataset = dataset
    def selecting_question(self):
        return self.dataset["Question"][self.i]
    def right_answer(self):
        return self.dataset["Answer"][self.i]
    
number_correct = 0
playing_status = input("Do you want to play: Yes or No   ")  

while playing_status.lower()== "yes":
    question = playing_jeopardy(jeopardy)
    print(question.selecting_question())
    answer = input("Enter your answer: ")
    if answer.lower() == question.right_answer().lower():
        number_correct = number_correct + 1 
        print("Correct! You have {} answers correct so far.".format(number_correct))
    else:
        print("Sorry the right answer is: {}".format(question.right_answer()))
        playing_status = input("Do you want to play: Yes or No   ")